.Deposit{
    display: flex;
    justify-content: center
    
}
.content{
    /* margin-top: 13%; */
}


#arrow{
    font-size: 32px;
    color: white;
    font-weight: bold;
    margin-left: 3rem;
    position: absolute;
    left: 10%;
    
}

.content > h1{
    margin-bottom: 10%;
}

.content > input{
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    /* width: 15%; */
    margin-left: 10px;
}
